<!DOCTYPE html >
<html ng-app="myApp">

<head>
  
  <title>Deus Booking</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
</head>

<body style="background-color:#EEEEEE">

  <nav class="navbar navbar-inverse" ng-controller="IndexController">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">Deus Groups</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" ng-show="UserName != null">
          <li>
            <a class="btn" href="#" ng-click="logout()">Logout</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div ng-view></div>
      </div>
    </div>

  </div>
  <script src="node_modules/jquery/dist/jquery.js"></script>
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="/app.js"></script>
  <script src="/controllers/home.js"></script>
  <script src="controllers/auth.js"></script>
  <script src="/controllers/hotelHome.js"></script>
  <script src="/controllers/index.js"></script>
  <script src="/controllers/order.js"></script>
  <script src="/controllers/reg.js"></script>
  <script src="/controllers/allOrders.js"></script>
  <script src="constants/Constants.js"></script>
  <script src="/controllers/approvalOrders.js"></script>
  
    <!--dev-Niru start-->
  <script src="/controllers/paymentHome.js"></script>
  <script src="/controllers/goodsReceiving.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
  <!--dev-Niru end-->


</body>

</html>