<div class="container">
    <div class="page-header">
        <div class="row">
            <h1>404 </h1>
            <h3>Page Not Found or you don't have authorization</h3>
        </div>
    </div>
</div>