<div class="container" ng-init="getItems()">
    <div class="page-header">
        <h4>Approvals</h4>
    </div>
    <div class="col-md-12">
        <h3>Default Supervisor</h3>
        <div class="panel panel-default" ng-repeat="order in modifiedOrders" ng-show="(order.defaultSup==supID && order.isDiffSup==0) || (order.defaultSup==supID && order.isDiffSup==1 && order.diffSupStatus==2)">
            <div class="panel-heading">{{order.orderNo}}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <th>Requester Name</th>
                        <th>LOT No</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in order ">
                    <div> 
                        <td>{{order.userId}}</td>
                        <td><a href="" data-toggle="modal" ng-click="click1(o)" data-target="#myModal">{{o}}</a></td>
                        <td><a class="btn btn-primary" ng-click="approveReject(o,2,order.orderNo)">Accept</a></td>
                        <td><a class="btn btn-danger" ng-click="approveReject(o,5,order.orderNo)">Reject</a></td>
                    </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Different Supervisor</h3>
        <div class="panel panel-default" ng-repeat="order in modifiedOrders" ng-show="order.isDiffSup==1 && order.diffSup==supID && order.diffSupStatus==1">
            <div class="panel-heading">{{order.orderNo}}</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <th>Requester Name</th>
                        <th>LOT No</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in order">
                    <div> 
                        <td>{{order.userId}}</td>
                        <td><a href="" data-toggle="modal" ng-click="click1(o)" data-target="#myModal">{{o}}</a></td>
                        <td><a class="btn btn-primary" ng-click="approveRejectDiff(o,2)">Accept</a></td>
                        <td><a class="btn btn-danger" ng-click="approveRejectDiff(o,5)">Reject</a></td>
                    </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Items</h4>
      </div>
      <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                <th>Item No</th>
                <th>Item Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.itemNo}}</td>
                    <td>{{item.itemName}}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>