<div class="container">
    <div class="row">
        <div class="alert alert-danger" ng-show="isErrorAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Password Incorrect! </strong> Please check again!
        </div>
        <div class="alert alert-success" ng-show="isDoneAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Great! </strong>Welcome!
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h5>
                        <strong>Welcome! :)</strong>
                    </h5>
                </div>
                <div class="panel-body">

                    <form>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input ng-model="email" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button ng-click="signin()" class="btn btn-primary btn-block">Sign in</button>
                            <button ng-click="goReg()" type="submit" class="btn btn-light btn-block">Don't you have an Account? Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>