<div class="container">
    <div class="page-header">
        <h4>Create New Order</h4>
    </div>
    <div class="row">
        <div class="col-md-8" ng-init="getItems()">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Items in stock</h4>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>
                        <th>Unit Price Rs</th>
                        <th>Unit of Measurement</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.itemNo}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.unitPrice}}</td>
                        <td>{{item.unitOfMessurements}}</td>
                        <td>
                            <a class="btn btn-success" ng-click="addToLot(item)">Add to lot</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Lot information</h4>
                </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="l in lot">
                            <td>{{l.itemName}}</td>
                            <td><input type="number" class="form-control" ng-model="l.itemQty" ng-init="calculateTotalItemPrice(1)" ng-click="calculateTotalItemPrice(l)" ng-keydown="calculateTotalItemPrice(l)" ng-keyup="calculateTotalItemPrice(l)" placeholder="Enter Qty" min="1" max="{{l.maxQty}}"></td>
                            <td>{{l.totalItemPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
            <a class="btn btn-success pull-right" ng-click="addToOrder()">Add to order</a>
            <a class="btn btn-danger pull-left" ng-click="clearLot()">Clear lot</a>
        </div>
    </div>

    <br>

    <div class="alert" ng-show="isShowSuccsessAlert">
        <span class="closebtn" ng-click="showHide()">&times;</span>
        <strong>Incorrect! </strong> {{ErrorString}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Order information</h4>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Lot ID</th>
                        <th>Lot Price Rs</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Total Order Amount Rs</th>
                        <td>{{totalOrderPrice}}</td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr ng-repeat="plot in parentLot">
                        <td>{{plot.lotId}}</td>
                        <td>{{plot.totalLotPrice}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="ETA"> ETA </label><input  class="form-control" id="ETA" type="date"  ng-init="setCurrentDateToETA();setMinDate()" />
        </div>
        <div class="col-md-4">
            <div>
                <label>Select Supplier</label>
                <select id="SupplierIdDropDown" class="form-control" >
                    <option ng-repeat="supplier in suppliers" value="{{supplier.email}}" >{{supplier.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">
            <div ng-show="isOverLimit()">
                <label>Select Supervisor</label>
                <select id="supIdDropDown" class="form-control" >
                    <option ng-repeat="sup in supervisors" value="{{sup.empId}}" ng-selected="sup.name == defaultname">{{sup.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <a name="create" class="btn btn-success pull-right" ng-click="placeOrder()"style="margin-left: 10px">Create Order</a>
            <a class="btn btn-danger pull-right" ng-click="clearOrder()" style="margin-left: 10px">Clear Order</a>
        </div>
    </div>

    <br>
    <br>

</div>



