<div class="container">
	
	<div align="right">
		<a href="#/orderPaymentHome" class="btn btn-info" role="button">Back</a>
	</div>

	<h1 align="left">Goods Receiving</h1>
	</br>
	
	<form>
		<div class="form-group">
		  <label>Order Id:</label>
		  <input type="text" class="form-control" ng-model="key" placeholder="Enter Id">
		  </br>
		  <button type="submit" class="btn btn-success" ng-click="searchOrder(key)">Find</button>
		</div>
		
	</form>
	
	<div class="panel panel-default">
			<div class="panel-heading">
				Order Details
			</div>
			<div class="panel-body" align="center">
				<ul class="list-group">
				  <li class="list-group-item">Order Id: {{orderId}}</li>
				  <li class="list-group-item">Received Payment: {{receivedPayment}}</li>
				  <li class="list-group-item">Item Name: {{itemName}}</li>
				  <li class="list-group-item">Unit Price: {{unitPrice}}</li>
				  <li class="list-group-item">Quantity: {{quantity}}</li>
				</ul>
				<div align="right">
					<button type="submit" id="varifyPayment" class="btn btn-info" ng-click="varifyPayment(receivedPayment,unitPrice,quantity)">Varify Payment</button>
				</div>
			</div>
	</div>
    <h2 align="center">Payment</h2>
	<form>
		<div class="form-group">
		  <label>Order Id:</label>
		  <input type="text" class="form-control" id="orderId" ng-model="orderId" placeholder="Enter Id" disabled=true>
		  </br>
		  <label>Supplier Id:</label>
		  <input type="text" class="form-control" id="supplierId" ng-model="supplierId" placeholder="Enter Id" disabled=true>
		  </br>
		  <label>Amount:</label>
		  <input type="text" class="form-control" id="amount" ng-model="amount" placeholder="Enter Id" disabled=true>
		  </br>
		  <label>Delivery Id:</label>
		  <input type="text" class="form-control" id="deliveryId" ng-model="deliveryId" placeholder="Enter Id" disabled=true>
		  </br>
		  <label>Payment Type:</label>
		  <input type="text" class="form-control" id ="paymentType" ng-model="paymentType" placeholder="Enter Id" disabled=true>
		  </br>
		  <button type="submit" class="btn btn-success" id ="btnSendPayment" ng-click="sendPayment(orderId,supplierId,amount,deliveryId,paymentType)" disabled=true>Send Payment</button>
		  <button type="submit" class="btn btn-success" id ="btnGenerateInvoice" ng-click="generateInvoice(orderId,supplierId,amount,deliveryId,paymentType)" disabled=true>Generate Invoice</button>
		</div>
		
	</form>

</div>

