<div class="contariner">
		<div class="col-md-6" ng-show="UserName == 1">
		  <div class="panel panel-default">
		    <div class="panel-body" style="background-color: #428bca">
		    	<div class="col-md-8">
		    		<h2 style="color: #ffffff">Add Order</h2>
		    		<br><br>
		    		<span class="pull-right"><a href="#/order/add" class="btn btn-default">Go</a></span>
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-6" ng-show="UserName == 2">
		  <div class="panel panel-default">
		    <div class="panel-body" style="background-color: #428bca">
		    	<div class="col-md-8">
		    		<h2 style="color: #ffffff">Approve Orders</h2>
		    		<br><br>
		    		<span class="pull-right"><a href="#/order/approval" class="btn btn-default">Go</a></span>
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-6" ng-show="UserName == 1">
		  <div class="panel panel-default">
		    <div class="panel-body" style="background-color: #428bca">	
		    	<div class="col-md-8">
		    		<h2 style="color: #ffffff">View Orders</h2>
		    		<br><br>
		    		<span class="pull-right"><a href="#/order/view" class="btn btn-default">Go</a></span>
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-6" ng-show="UserName == 3">
		  <div class="panel panel-default">
		    <div class="panel-body" style="background-color: #428bca">	
		    	<div class="col-md-8">
		    		<h2 style="color: #ffffff">Finance Manager</h2>
		    		<br><br>
		    		<span class="pull-right"><a href="#/orderPaymentHome" class="btn btn-default">Go</a></span>
		    	</div>
		    </div>
		  </div>
		</div>
</div>
