<div class="col-md-12" ng-init="getHotel()">
<div class="row" ng-show="hotel == null">
		<h3 align="center">Please wait information is loading...</h3>
        <div class="loader col-md-offset-5"></div>
	</div>


  <div class='container' ng-show="hotel != null">
    <div class="row">
    	<h2>{{hotel[0].hotelName}}</h2>
    </div>
    <div class="row">
        <div class="col-md-1" style="width: 5" ng-repeat="n in range(1,hotel[0].hotelRating)"><img src="../Images/star.png"></div>
    </div>
    <div class="row" align="right"><a class='list-shortlist btn btn-primary' href="#/hotelhome/edit/{{hotel[0].hotelId}}">Edit</a>
        		<button type="button" class="btn btn-info btn-md list-shortlist" data-toggle="modal" data-target="#myModal" >Delete</button></div>
    <br>
    <div class="row">
    	<div class="col-md-7">
    		<div class="row">
    			<img class="img-responsive" alt='' src='{{hotel[0].hotelImageHome}}'>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">
    				<img class="img-responsive" alt='' src='{{hotel[0].hotelImagePool}}'>
    			</div>
    			<div class="col-md-4">
    				<img class="img-responsive" alt='' src='{{hotel[0].hotelImageOutSide}}'>
    			</div>
    			<div class="col-md-4">
    				<img class="img-responsive" alt='' src='{{hotel[0].hotelImageInside}}'>
    			</div>
    		</div>
    	</div>
    	<div class="col-md-5">
    			<br>
                <h3>Description</h3>
                <div class="row">
                <div class="col-md-2"><img src="../Images/description.png"></div><div class="col-md-10"><h4>{{hotel[0].hotelLongDescription}}</h4></div>
                </div>
    			<br>
                <h3>Location</h3>
                <div class="row">
                <div class="col-md-2"><img src="../Images/location.png"></div><div class="col-md-10"><h4>{{hotel[0].hotelLocation}}</h4></div>
                </div>
    			<br> <br>
    			<div class="row">
    				<div class="col-md-3" ng-show="hotel[0].isWifi == 'true'">
    					<img src="Images/wifi1.png">
    				</div>
    				<div class="col-md-3" ng-show="hotel[0].isGym == 'true'">
    					<img src="Images/gym.png">
    				</div>
    				<div class="col-md-3" ng-show="hotel[0].isBar == 'true'">
    					<img src="Images/bar.png">
    				</div>
    				<div class="col-md-3" ng-show="hotel[0].isResturent == 'true'">
    					<img src="Images/resturant.png">
    				</div>
    			</div>
    	</div>
    </div>
  </div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure ?</p>
      </div>
      <div class="modal-footer">
       	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteHotel(hotel[0].hotelId)">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</div>