<div class="container">
    <div class="page-header">
        <h4>Edit Hotel</h4>
    </div>

    <div class="row" ng-show="htl == null">
        <h3 align="center">Please wait information is loading...</h3>
        <div class="loader col-md-offset-5"></div>
    </div>
    <div class="row" ng-show="htl != null">
        <div class="col-md-2"><a href="#!/hotelhome" class="btn btn-default">Go Back</a></div>
        <div class="col-md-8">
            <div class="panel panel-default" ng-init="getHotel()">
                <div class="panel-heading">
                    <h4>Edit Hotel </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Name</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="singleSelect" ng-model="htl.hotelName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Rating</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelRating">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Location</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelLocation">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Description</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelDescription">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Long Description</h5>
                        </div>
                        <div class="col-md-8">
                            <textarea maxlength="450" type="text" id="unitPrice" class="form-control custom-control" rows="4" style="resize:none" ng-model="htl.hotelLongDescription">
                                </textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Home Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelImageHome">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Outside Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelImageOutSide">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Inside Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelImageInside">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Pool Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htl.hotelImagePool">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Wifi</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="htl.isWifi">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="htl.isWifi">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Gym</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="htl.isGym">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="htl.isGym">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Bar</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="htl.isBar">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="htl.isBar">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Resturant</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="htl.isResturent">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="htl.isResturent">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Spa</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="htl.isSpa">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="htl.isSpa">No
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success" ng-click="editHotel(htl.hotelId,htl.hotelName,htl.hotelRating,htl.hotelLocation,htl.hotelDescription,htl.hotelLongDescription,htl.hotelImageHome,htl.hotelImageOutSide,htl.hotelImageInside,htl.hotelImagePool,htl.isWifi,htl.isGym,htl.isBar,htl.isResturent,htl.isSpa)">Save</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="errormsg != '' || errormsg !=null">
                        <div class="alert alert-danger col-md-offset-3 col-md-4">
                            <p style="text-align: center;">{{errormsg}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>