<div class="container">
    <div class="page-header">
        <h4>Add new Hotel</h4>
    </div>
    <div class="row">
        <div class="col-md-2"><a href="#/hotelhome" class="btn btn-default">Go Back</a></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Add a new Hotel </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Name</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="singleSelect" ng-model="htlName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Rating</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="number" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlRating">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Location</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlLocation">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Description</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlDescription">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Long Description</h5>
                        </div>
                        <div class="col-md-8">
                            <textarea maxlength="450" type="text" id="unitPrice" class="form-control custom-control" rows="4" style="resize:none" ng-model="htlLongDescription">
                                </textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Home Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlHomeImage">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Outside Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlImageOutSide">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Inside Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlImageInSide">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Hotel Pool Image</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="unitPrice" class="form-control custom-control" rows="1" style="resize:none" ng-model="htlImagePool">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Wifi</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="isWifi">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="isWifi">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Gym</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="isGym">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="isGym">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Bar</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="isBar">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="isBar">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Resturant</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="isResturant">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="isResturant">No
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h5>Spa</h5>
                        </div>
                        <div class="col-md-8">
                            <input type="radio" id="unitPrice"  value="true" style="resize:none" ng-model="isSpa">Yes
                            <input type="radio" id="unitPrice"  value="false" ="1" style="resize:none" ng-model="isSpa">No
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success" ng-click="addNewHotel(htlName,htlRating,htlLocation,htlDescription,htlLongDescription,htlHomeImage,htlImageOutSide,htlImageInSide,htlImagePool,isWifi,isGym,isBar,isResturant,isSpa)">Submit</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="errormsg != '' || errormsg !=null">
                        <div class="alert alert-danger col-md-offset-3 col-md-4">
                            <p style="text-align: center;">{{errormsg}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>