<div class="col-md-12" ng-init="getHotels()">
	<div class="row">
		<h3>Hotels</h3>
	</div>
	<div class="row">
		<h4 align="right"><a href="#/hotelhome/add">Add New Hotel</a></h4>
	</div>

	<form>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon " id="basic-addon1" >Search</span>
                <input type="text" class="form-control" placeholder="Enter Hotel Name" aria-describedby="basic-addon1" ng-model="htl.hotelName">
            </div>
        </div>
    </form>
  <div class="row" ng-show="hotels == null">
    <h3 align="center">Please wait information is loading...</h3>
    <div class="loader col-md-offset-5"></div>
  </div>  
	<div class="col-md-4" ng-repeat="hotel in hotels | filter:htl">
          <a href="#/hotelhome/{{hotel.hotelId}}"><div class="profile-card text-center">

            <img src="{{hotel.hotelImageHome}}" height="200" width=" 340">
            <div class="profile-info">


              <h2 class="hvr-underline-from-center">{{hotel.hotelName}}</h2>
              <div>
              		<p>{{hotel.hotelRating}}</p>
					<p>{{hotel.hotelLocation}}</p>
			  </div>
             
            </div>

          </div></a>
        </div>
</div>