<div class="container">

	<div align="right">
		<a href="#/home" class="btn btn-info" role="button">Home</a>
	</div>
	
	<h3 align="center">Payment</h3>
	</br>
	
	<div>
		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/orderPaymentHome/goodsReceiving" class="btn btn-primary col-md-12">Goods Receiving</a></div>
		  </div>
		</div>
		
		<!--div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/viewDish" class="btn btn-primary col-md-12">View Dishes</a></div>
		  </div>
		</div>
		
		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/updateDish" class="btn btn-primary col-md-12">Update Dishes</a></div>
		  </div>
		</div>

		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/createFoodPlan" class="btn btn-primary col-md-12">Create Food Plan</a></div>
		  </div>
		</div>

		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/viewFoodPlan" class="btn btn-primary col-md-12">View Food Plan</a></div>
		  </div>
		</div>

		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/updateFoodPlan" class="btn btn-primary col-md-12">Update Food Plan</a></div>
		  </div>
		</div>

		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/buffet" class="btn btn-primary col-md-12">Buffet</a></div>
		  </div>
		</div>

		<div class="panel-group col-md-3">
		  <div class="panel panel-default" align="center">
		    <div class="panel-body"><a href="#/food/provideOffers" class="btn btn-primary col-md-12">Provide Offers</a></div>
		  </div>
		</div-->
		
		
	</div>
	
	
</div>


