<div class="container" ng-init="loadData()">
    
    <div class="row">
        <div class="alert alert-danger" ng-show="isErrorAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Password Incorrect! </strong> Please check again!
        </div>
        <div class="alert alert-success" ng-show="isDoneAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>User added! </strong>
        </div>
        <div class="col-md-2"></div>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h5>
                    <strong>Get's start with us! :)</strong>
                </h5>
            </div>
            <div class="panel-body">
                <form>

                    <div class="col-md-4">
                        <div class="form-group">

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input ng-model="newEmail" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <label for="address">Address</label>
                                <input ng-model="address" type="text" class="form-control" id="address" placeholder="i.e MALABE">
                            </div>

                            <div class="form-group">
                                <label for="sup">Supervisor</label>
                                <select class="form-control" id="sup" ng-model="supId" ng-options="supervisor.name for supervisor in supervisors">
                                    <option value="">Select one</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="fulltname">Full name</label>
                                <input ng-model="fullname" type="text" class="form-control" id="fulltname" placeholder="Full Name">
                            </div>

                            <div class="form-group">
                                <label for="cnfpassword">Confirm Password</label>
                                <input ng-model="cnfPassword" type="password" class="form-control" id="cnfpassword" placeholder="Confirm Password">
                            </div>

                            <div class="form-group">
                                <label for="site">Site</label>
                                <input ng-model="site" type="text" class="form-control" id="site" placeholder="i.e WORKING SITE">
                            </div>

                            <div class="form-group">
                                <label for="usertype">Role</label>
                                <select class="form-control" id="usertype" ng-model="userType">
                                    <option value="">Select one</option>
                                    <option value="2">Manager</option>
                                    <option value="1">Site Manager</option>
                                    <option value="3">Accountant</option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block" ng-click="regUser()">Sign up</button>
                            <button type="submit" class="btn btn-light btn-block" ng-click="goSign()">Do you have an Account? Sign in</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>