<div class="container" ng-init="getItems()">

    <div class="page-header">
        <h4>Orders you Have Placed</h4>
    </div>

    <div class="row">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon " id="basic-addon1" >Search</span>
                    <input type="text" class="form-control" placeholder="Search Order" aria-describedby="basic-addon1" ng-model="search">
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-4 pull-right">
            <div>
                <label>Select Status</label>
                <select id="supIdDropDown" class="form-control" ng-model="dropdownMenu.status" >
                    <option value="">Select Order Status</option>
                    <option value="1">Pending</option>
                    <option value="2">Approved</option>
                    <option value="5">Rejected</option>
                    <option value="3">Canceled</option>
                    <option value="4">Placed</option>
                </select>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary" ng-repeat="order in modifiedOrders | filter:search ">
                <div class="panel-heading"><h4>Order : {{order.orderNo}}</h4></div>
                    <div class="panel panel-success" ng-repeat="o in order">
                        <div class="panel-heading" >
                            <h4>Lot No : {{o}}</h4>
                        </div>
                        <div class="panel-body"  >
                            <table class="table table-bordered" >
                                <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item NO</th>
                                    <th>Item Type</th>
                                    <th>Unit Price</th>
                                    <th>Unit Of Messurements</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in getItemsByLotId(o) | filter:dropdownMenu" >
                                    <td>{{item.itemName}}</td>
                                    <td>{{item.itemNo}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.unitPrice}}</td>
                                    <td>{{item.unitOfMessurements}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


